
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<table class="table table-bordered">
    <tr>
        <th> Channel Id</th>
        <th>Channel Name</th>
        <th>Established Year</th>
        <th>Country</th>

    </tr>
   
    
        <tr>
            <td>@Model.ChannelId</td>
            <td>@Model.ChannelName</td>
            <td>@Model.EstablishedYear</td>
            <td>@Model.Country</td>
            <td>
                

            </td>
        </tr>
    
</table>